<div class="container container-narrow-center">
  <h2 class="mb-3">Parking Area</h2>
  <form #form="ngForm" (ngSubmit)="createArea()">
    <div class="form-group">
      <label for="name">Area name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="parkingArea.name" 
        name="name" required>
    </div>
    <div class="form-group">
      <label for="weekdaysHourlyRate">Weekdays Hourly Rate:</label>
      <input type="number" class="form-control" id="weekdaysHourlyRate"
        [(ngModel)]="parkingArea.weekdaysHourlyRate" name="weekdaysHourlyRate" required>
    </div>
    <div class="form-group">
      <label for="weekendHourlyRate">Weekend Hourly Rate:</label>
      <input type="number" class="form-control" id="weekendHourlyRate"
        [(ngModel)]="parkingArea.weekendHourlyRate" name="weekendHourlyRate" required>
    </div>
    <div class="form-group">
      <label for="discount">Discount percent:</label>
      <input type="number" [minValue]="0" [maxValue]="100" class="form-control" id="discount" 
        [(ngModel)]="parkingArea.discount" name="discount" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Create</button>
  </form>
</div>
