<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Parking areas:</label>
    <select class="form-control" id="parkingArea"
      [(ngModel)]="parkingAreaId" name="parkingArea">
      
      <option *ngFor="let parkingArea of parkingAreas" 
        [value]="parkingArea.id">{{parkingArea.name}}</option>

    </select>
  </div>
  <div class="form-group left-placed">
    <label>Time start:</label>
    <timepicker [(ngModel)]="timeStart" name="timeStart"></timepicker>
    <label>Time end:</label>
    <timepicker [(ngModel)]="timeEnd" name="timeEnd"></timepicker>
  </div>
  <div class="form-group">
      <label for="exampleFormControlInput1">Parking day:</label>
      <input type="text" class="form-control" [(ngModel)]="parkingDay" name="parkingDay"
        bsDatepicker [bsConfig]="bsConfig" id="exampleFormControlInput1">
  </div>
  <button class="btn btn-primary" (click)="calculateFee()">Calculate fee</button>
</form>
<div *ngIf="fee" class="mt-4">
  <h3>You have {{fee | currency}} to pay.</h3>
</div>